# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
dump.hprof
target
src/main/java/com/el/jichu/collection/map/
src/main/java/com/el/jichu/designpattern/factorymethod/moreMethod/
target/generated-sources/
target/generated-test-sources/
/.idea/
/target/
/.idea/
.idea
*.class
